@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
body, .programInput, input {
  font-family: "Ubuntu" sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #454545;
  line-height: 34px;
  margin: 0px;
}
div.col {
  background-color: #8eaeca;
  border: 1px solid #ccc;
  float: left;
  /*height: 500px;*/
  padding: 8px;
  position: relative;
}
@media (min-width: 1000px) {
  div.col {
    width: 48%;
  }
}
@media (min-width: 650px) {
  div.col {
    width: 36%;
  }
}
div.col {
  /*width: 50%;*/
}
.programInput {
  border: none;
  margin: 8px;
  width: 95%;
  height: 450px;
}
.programInput div {
  white-space: nowrap;
}
.programInput span {
  width: 16px;
  display: inline-block;
  opacity: 0.4;
  border-right: 1px solid #ccc;
  margin-right: 1em;
}
.programInput input {
  width: 350px;
  background: inherit;
  border: none;
}
.programInput input:focus {
  outline: none;
}
#result {
  color: #333;
  padding: 15px 15px;
  font-weight: normal;
}
#result span {
  background-color: transparent;
  display: block;
  transition: background-color 0.25s;
}
#result span:hover, #result span.hl{
  background-color: #b5dbf7;
  transition: background-color 0.25s;
}
hr {
  margin-top: 3em;
}
#sum {
  /*position: absolute;*/
  bottom: 4px;
  color: #666;
  padding-left: 15px;
}
#sum:before {
  content: "Sum: ";
}
#sum {
  opacity: 0;
  transition: opacity 0.25s;
}
.cells {
  margin-top: 3em;
  font-size: 16px;
}
.cells span.cell {
  padding: 0px 12px;
  margin: 4px;
  background: #114;
  color: #8eaeca;
  border-radius: 24px;
  display: inline-block;
}

.program h2 {
  font-size: 12px;
  line-height: 18px;
  background: #fff;
  padding: 0px 12px;
  border-radius: 24px;
}
